body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
header{
    display: flex;
    width: calc(100% - 40px);
    padding: 10px 20px;
    background: white;
    box-shadow: 0px 0px 6px 0 rgb(0 0 0 / 20%);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 60px;
    align-content: center;
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.container{
    display: flex;
    width: 100%;
    flex: 1 0 0%;
    flex-direction: column;
    max-width: 1200px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col{
    flex: 1 0 0%;
    display: flex;
}
.justify-content-wetten{
    justify-content: space-between;
}
.navbar{
    display: flex;
    padding: 0;
    list-style: none;
    gap: 16px;
    margin: 0;
}
.align-items-center{
    align-items: center;
}
ul li a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 16px;
    font-family: roboto, sans-serif;
}
.btn-hamburguesa{
    padding: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .collapse{
        display: none;
    }
}
@media (min-width: 769px) {
    .btn-hamburguesa{
        display: none;
    }
}